body{
    box-sizing: border-box;
}
header{
    background-color: cornflowerblue;
    height:35px;
    color:white
}
footer{
    background-color: cornflowerblue;
    height:35px;
    color:white;
    /* margin-top: 88vh; */
    text-align: center;
}
.cont{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
}
