.footercontainer{
    background-color: hsl(254, 66%, 9%);
    margin:50px 0px 20px;
    color:#999;
}
.footercontentcontainer{
    max-width:1100px;
    margin:0 auto;
}
.footeritems{
    display: flex;
    justify-content: space-between;
}
.auctiondetails{
    display: flex;
    flex:0.7;
    justify-content: space-between;
}
.auctionheader{
    position: relative;
    left:39px;
    font-size:22px;
}
.footer-logos{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-left:9px;
    filter: grayscale(100);
}
.social-media-logos{
    position: relative;
    left:33px;
}